.csv-dropzone {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    background-color: #009688;
    color: white;
    font-family: sans-serif;
    padding: .5rem;
    margin: 0;
    box-shadow: 0px 5px 15px #121317;
    background: #009688;
    background: -moz-linear-gradient(left, #009688 0%, #61cebe 100%);
    background: -webkit-linear-gradient(left, #009688 0%, #61cebe 100%);
    background: linear-gradient(to right, #009688 0%, #61cebe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009688', endColorstr='#61cebe', GradientType=1);
}

.csv-dropzone:hover {
    cursor: pointer;
}