.csv-dropzone {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #151515;
  align-items: center;
  box-sizing: border-box;
  color: #4a4a4a;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem;
}

p > svg {
  margin: 1rem;
}

.csv-dropzone:hover {
  cursor: pointer;
}
