.point-list {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.point-list > li.selected {
  background: #3f51b5!important;
}

.point-list li:nth-child(even) {
  background-color: #222224;
}

od-list li:nth-child(odd) {
  background-color: #21252b;
}
