.od-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.od-list li:nth-child(even) {
    background-color: #2a2f37;
}

od-list li:nth-child(odd) {
    background-color: #21252b;
}