.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Map-container {
  height: 50%;
  width: 100%;
  background: #09d3ac;
}

.Point-list-container {
  height: 50%;
  width: 100%;
  background: #282c34;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+*/
}

.Point-list-container::-webkit-scrollbar {
  /* WebKit */
  width: 0px;
}

#save{
  display: flex;
  justify-content: space-around;
  color: white;
  height: 2rem;
  align-items:center;
}

#save>p{
  width:30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#save>input{
  width: 40%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  border: none;
}

#save>div{
  width: 30%;
  height: 100%;
  background-color: teal;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

#save>div:active{
  background-color: rgb(6, 102, 102);
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .App {
    flex-direction: row;
  }

  .Map-container {
    height: 100%;
    width: 70%;
  }

  .Point-list-container {
    height: 100%;
    width: 30%;
    background: #282c34;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .Point-list-container::-webkit-scrollbar {
    /* WebKit */
    width: 0px;
  }



}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/