.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Map-container {
  position: absolute;
  height: 50%;
  width: 100%;
  background: #0c0c0d;
}

.step-view {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.step {
  color: white;
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
  box-sizing: border-box;
  scroll-snap-align: center;
}

.step-view * {
  outline: none;
}

.ui-container {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: absolute;
  top: 47%;
  z-index: 10;
  height: 53%;
  width: 100%;
  background: #151515;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+*/
}

.ui-container::-webkit-scrollbar {
  /* WebKit */
  width: 0px;
}

<<<<<<< HEAD
#save{
  display: flex;
  justify-content: space-around;
  color: white;
  height: 2rem;
  align-items:center;
}

#save>p{
  width:30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#save>input{
  width: 40%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  border: none;
}

#save>div{
  width: 30%;
  height: 100%;
  background-color: teal;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

#save>div:active{
  background-color: rgb(6, 102, 102);
=======
.point-lists {
  display: flex;
  height: 100%;
}

.step-progress-bar {
  margin: 1rem;
>>>>>>> ebf5ecc159a3d808798d6590a36341cd11cd3737
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .App {
    flex-direction: row;
  }

  .Map-container {
    height: 100%;
    width: 70%;
    position: relative;
    background: #0c0c0d;
  }

  .ui-container {
    height: 100%;
    width: 30%;
    top: 0px;
    overflow: hidden;
    overflow-y: scroll;
    flex-direction: column-reverse;
    position: relative;
    border-radius: 0px;
  }

  .ui-container::-webkit-scrollbar {
    /* WebKit */
    width: 0px;
  }

  .step-view {
    overflow: hidden;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
