.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.og-marker{
  width: 25px;
  height: 25px;
  border:2px solid;
  border-radius: 50%;
  background-color: rgb(32, 115, 240);
  animation-duration: .5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: blink-og;
} 

@keyframes blink-og{
  0%   { background-color:rgb(32, 198, 240)}
  100%  { background-color:rgb(32, 240, 240)}
}

@keyframes blink-d{
  0%   { background-color:rgb(240, 32, 32)}
  100%  { background-color:rgb(190, 38, 17)}
}

.og-marker-s{
  width: 25px;
  height: 25px;
  border:2px solid;
  border-radius: 50%;
  background-color: rgb(37, 103, 122);
}

.dest-marker{
  width: 25px;
  height: 25px;
  border:2px solid;
  border-radius: 50%;
  background-color: rgb(211, 18, 18);
  animation-duration: .5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: blink-d;
}

.dest-marker-s{
  width: 25px;
  height: 25px;
  border:2px solid;
  border-radius: 50%;
  background-color: rgb(73, 25, 25);

}

.Map-container {
  position: absolute;
  height: 50%;
  width: 100%;
  background: #0c0c0d;
}

.step-view {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-y:hidden;
}

.step {
  padding: 1rem;
  color: white;
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
  box-sizing: border-box;
  scroll-snap-align: center;
}

.step-view * {
  outline: none;
}

.step > button {
  margin-top: 1rem !important;
}

.ui-container {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: absolute;
  top: 47%;
  z-index: 10;
  height: 53%;
  width: 100%;
  background: #151515;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+*/
}

.ui-container::-webkit-scrollbar {
  /* WebKit */
  width: 0px;
}

.point-lists {
  display: flex;
  height: 90%;
  padding: 0.5rem;
}

.step-progress-bar {
  margin: 1rem;
}

.group-input {
  padding: 1rem;
}

.group-list {
  height: 40%;
  overflow-y: auto;
}
.group-list > .item {
  text-align: left;
  /* background: lightblue; */
  padding: 0.5rem !important;
  margin: 0.5rem;
  border: 1px solid white !important;
  border-radius: 0.3rem;
  cursor: pointer;
}
.group-list > .selected {
  background: #1b77be;
}

.group-list > .item > .content {
  display: inline-block !important;
}

.step-description {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  max-height: 20%;
}
h2 {
  margin: 0;
}

/* 
  ##Device = Desktops
  ##Screen = 968px to higher resolution desktops
*/

@media (min-width: 968px) {
  .App {
    flex-direction: row;
  }

  .Map-container {
    height: 100%;
    width: 70%;
    position: relative;
    background: #0c0c0d;
  }

  .ui-container {
    height: 100%;
    width: 30%;
    top: 0px;
    overflow: hidden;
    overflow-y: scroll;
    flex-direction: column-reverse;
    position: relative;
    border-radius: 0px;
  }

  .ui-container::-webkit-scrollbar {
    /* WebKit */
    width: 0px;
  }

  .step-view {
    height: 100%;
    overflow: hidden;
    overflow-x: auto;
  }

  .group-list {
    height: 80%;
  }
}
